.home {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.self-introduction {
  background-image: url("/fungi.JPG");
  background-size: cover;
  background-position: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

.blog {
  background-color: #3D4C5D;
}

.caption {
  background-color: #3D4C5D;
  font-size: 1.5rem;
}

.blog-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3D4C5D;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    height: auto;
  }

  .self-introduction {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
  }

  .blog-section {
    width: 100%;
    height: auto;
  }
}