.home {
  background-image: url("/fungi.JPG");
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.self-caption {
  color: darkslategray;
}

.blog {
  background-color: antiquewhite;
  text-align: center;
  border-radius: 10px;

}

.caption {
  background-color: antiquewhite;
  text-align: center;
  font-size: 1.5rem;
}

@media(max-width:768px) {
  .home {
    width: 100vw;
    height: 50vh;
    display: cover;
    background-position: top;
  }
}